@model SolutionsTech.Business.Entity.Scheduling

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Scheduling</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormPayment.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdScheduling">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
